/***************************
****************************
Reset Styles
****************************
***************************/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/

body {
  width: 80%;
  margin: 0 auto;
  background-color: gray;
}

.container {
  padding: 20px;
  margin: 15px;
  background-color: white;
  box-shadow: 0 0 10px;
}

/***************************
****************************
Form Styles
****************************
***************************/

table {
  border-collapse: collapse;
}

table,
td {
  border: 1px solid black;
}

span {
  display: inline-flex;
}
